@use "../variables" as *;
@use "../functions" as *;

/**
 * HEADER
 */

%header {
  position: relative;
  width: 100%;
  height: 100%;

  background-image: url("../images/puente_cadiz.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;

  transition: height 0.3s ease, background-color 0.3s ease;
}

.header {
  @extend %header;
}

.header--fixed {
  @extend %header;
  position: fixed;
  z-index: 1;
}

.header--reduce {
  @extend %header;
  height: 10rem;
}

/**
 * HEADER TITLE
 */

%header-title {
  margin-left: 1rem;

  /* Typography */
  font-family: $font-family-rissa;
  font-size: 5rem;

  transition: font-size 0.3s ease;
  transform: rotate(-9deg);

  @media (min-width: $mq-min-width) {
    font-size: 10rem;
  }
}

.header__title {
  @extend %header-title;
}

.header__title--reduce {
  @extend %header-title;

  /* Layout */
  position: fixed;
  top: 0;

  /* Typography */
  font-size: 4rem;
}

.header__title-link {
  color: $uoc-corporate-secundary;
  text-decoration: none;
}

.header__nav {
  /* Layout */
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;

  /* Typography */
  text-align: center;

  /* Visual */
  background-color: $uoc-corporate;

  @media (min-width: $mq-min-width) {
    font-size: 1rem;
  }
}

%nav-list {
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
}

.nav__list {
  @extend %nav-list;
}

.nav__list--inline {
  @extend %nav-list;
  display: inline-flex;
}

.nav__button {
  text-align: left;
  color: $uoc-corporate-secundary;
}

.item__link {
  margin-right: 1rem;

  font-weight: bold;
  text-decoration: none;
  color: $uoc-corporate-secundary;

  @media (min-width: $mq-min-width) {
    margin-right: 2rem;
  }

  &:hover {
    color: $uoc-masterbrand;
  }
}
