<footer class="footer" data-aos="fade-up">
        <div class="footer__block">
                <h2 class="block__title"><i class="fa fa-bars"></i> | Menú</h2>
                <ul class="block__list">
                        <li class="list__item"><a class="item__link" href="#historia" class="nav__link">Historia</a>
                        </li>
                        <li class="list__item"><a class="item__link" href="#patrimonio" class="nav__link">Patrimonio</a>
                        </li>
                        <li class="list__item"><a class="item__link" href="#naturaleza" class="nav__link">Naturaleza</a>
                        </li>
                        <li class="list__item"><a class="item__link" href="#gastronomia"
                                        class="nav__link">Gastronomía</a></li>
                </ul>
        </div>
        <div class="footer__block">
                <h2 class="block__title"><i class="fa fa-link"></i> | Enlaces</h2>
                <ul class="block__list">
                        <li class="list__item"><a class="item__link"
                                        href="http://www.museosdeandalucia.es/web/museodecadiz" title="Museo de Cádiz"
                                        aria-label="Museo de Cádiz" target="_blank">Museo
                                        de
                                        Cádiz</a></li>
                        <li class="list__item"><a class="item__link" href="https://www.cadizturismo.com/es"
                                        title="Cádiz Turismo" aria-label="Cádiz Turismo" target="_blank">Cádiz
                                        Turismo</a></li>
                        <li class="list__item"><a class="item__link" href="https://www.andalucia.org/es/cadiz-ciudad"
                                        title="Andalucía - Turismo de Cádiz" aria-label="Andalucía - Turimso de Cádiz"
                                        target="_blank">Andalucía
                                        Turismo -
                                        Cádiz</a></li>
                        <li class="list__item"><a class="item__link"
                                        href="https://www.juntadeandalucia.es/medioambiente/servtc5/ventana/ventana_acceso_simple.jsp"
                                        title="Parque Natural Bahía de Cádiz" aria-label="Facebook"
                                        target="_blank">Parque
                                        Natural Bahía de Cádiz</a></li>
                        <li class="list__item"><a class="item__link" href="https://www.cadizturismo.com/gastronomia"
                                        title="Sabores de Cádiz" aria-label="Sabores de Cádiz" target="_blank">Sabores
                                        de
                                        Cádiz</a></li>
                        <li class="list__item"><a class="item__link" href="https://www.andalucia.org/es/gastronomia"
                                        title="Andalucía en la mesa" aria-label="Andalucía en la mesa"
                                        target="_blank">Andalucía en la
                                        Mesa</a>
                        </li>
                </ul>
        </div>
        <div class="footer__block footer__block--social">
                <h2 class="block__title block__title--logo"><a class="block__title-link" href="#top">Bahía de Cádiz</a>
                </h2>
                <ul class="block__list block__list--inline">
                        <li class="list__item">
                                <a class="item__link" href="https://www.facebook.com/CadizTurismo" title="Facebook"
                                        aria-label="Facebook" target="_blank"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li class="list__item">
                                <a class="item__link " href="https://www.instagram.com/cadizturismo/" title="Instagram"
                                        aria-label="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="list__item">
                                <a class="item__link" href="https://twitter.com/CadizTurismo" title="X" aria-label="X"
                                        target="_blank"><i class="fab fa-x-twitter"></i></a>
                        </li>
                        <li class="list__item">
                                <a class="item__link" href="https://www.tiktok.com/@cadizturismo" title="TikTok"
                                        aria-label="TikTok" target="_blank"><i class="fab fa-tiktok"></i></a>
                        </li>
                        <li class="list__item">
                                <a class="item__link item__link--social"
                                        href="https://www.youtube.com/cadizturismo-provincia" title="YouTube"
                                        aria-label="YouTube" target="_blank"><i class="fab fa-youtube"></i></a>
                        </li>
                </ul>
                <p class="block__text">2024 &copy; Iván Bohórquez Barrios</p>
                <p class="block__text">Herramientas HTML y CSS II</p>
        </div>
</footer>