<header id="top" class="header--fixed" data-aos="fade-up">
        <h1 class="header__title">
                <a class="header__title-link" href="#top">Bahía de Cádiz</a>
        </h1>
        <nav class="header__nav">
                <i id="menu" class="nav__button fa fa-bars"></i>
                <ul class="nav__list--inline">
                        <li class="list__item">
                                <a href="#historia" class="item__link">
                                        <i class="fa fa-hourglass-half"></i> | Historia
                                </a>
                        </li>
                        <li class="list__item">
                                <a href="#patrimonio" class="item__link">
                                        <i class="fa fa-monument"></i> | Patrimonio
                                </a>
                        </li>
                        <li class="list__item">
                                <a href="#naturaleza" class="item__link">
                                        <i class="fa fa-leaf"></i> | Naturaleza
                                </a>
                        </li>
                        <li class="list__item">
                                <a href="#gastronomia" class="item__link">
                                        <i class="fa fa-utensils"></i> | Gastronomía
                                </a>
                        </li>
                </ul>
        </nav>
</header>